{% extends "layout.html" %}

{% block body %}
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}


<h1>Hello, {{ username }}.</h1>

<ul>
    <li><a href="/dashboard/new_site">Create a new site.</a></li>
    <li><a href="/dashboard/list_sites">Modify or delete an existing site.</a></li>
    <li><a href="//dashboard/change_password">Change your password.</a></li>
    <li><a href="/dashboard/delete_account">Delete your account.</a></li>
</ul>



{% endblock %}
